.character {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  background-color: rgba(202, 202, 202, 0.075);
  display: flex;
  flex-direction: column;
}

.phrases {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
