footer {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.233);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: rgb(207, 174, 111);
}
